@{
    ViewData["Title"] = "Home";
}

<!-- Hero Section -->
<section id="hero" class="d-flex align-items-center justify-content-center text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                
                
                <h1 class="display-3 fw-bold">Pritish Sewsunker</h1>
                <h2>I am a <span class="typewriter"></span></h2>
                <a asp-controller="Home" asp-action="Projects" class="btn btn-primary btn-lg mt-4 me-2">View My Work</a>
                <a asp-controller="Home" asp-action="About" class="btn btn-outline-light btn-lg mt-4">About Me</a>
            </div>
        </div>
    </div>
</section>